## Data Cleaning Process Using Pyspark

Initializing spark

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pandas as pd

Creating Spark Session

In [3]:
spark = SparkSession.builder.appName("nifty_analysis").getOrCreate()

In [4]:
spark

Reading Data from local machine

In [5]:
df = spark.read.format("csv")   \
          .option("header","true") \
          .option("inferSchema","true") \
          .load("N_50_daily_report.csv")

In [6]:
df.count()

247

In [7]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Shares Traded: double (nullable = true)
 |-- Turnover (Rs. Cr): double (nullable = true)

In [8]:
df.show(n=10,truncate=False)

+-----------+--------+--------+--------+--------+-------------+-----------------+
|Date       |Open    |High    |Low     |Close   |Shares Traded|Turnover (Rs. Cr)|
+-----------+--------+--------+--------+--------+-------------+-----------------+
|04-Jan-2021|14104.35|14147.95|13953.75|14132.9 |4.94999295E8 |28705.09         |
|05-Jan-2021|14075.15|14215.6 |14048.15|14199.5 |4.92475349E8 |30872.87         |
|06-Jan-2021|14240.95|14244.15|14039.9 |14146.25|6.32323316E8 |34615.55         |
|07-Jan-2021|14253.75|14256.25|14123.1 |14137.35|5.59173512E8 |33446.47         |
|08-Jan-2021|14258.4 |14367.3 |14221.65|14347.25|6.13472067E8 |37615.19         |
|11-Jan-2021|14474.05|14498.2 |14383.1 |14484.75|6.72878543E8 |40186.21         |
|12-Jan-2021|14473.8 |14590.65|14432.85|14563.45|9.29566952E8 |44976.12         |
|13-Jan-2021|14639.8 |14653.35|14435.7 |14564.85|8.73956688E8 |44682.93         |
|14-Jan-2021|14550.05|14617.8 |14471.5 |14595.6 |6.20194977E8 |37534.37         |
|15-Jan-2021|14594.35|14617.45|14357.85|14433.7 |7.89557216E8 |39912.18         |
+-----------+--------+--------+--------+--------+-------------+-----------------+
only showing top 10 rows

In [9]:
df.select("Date").describe()

DataFrame[summary: string, Date: string]

In [10]:
df.select("Date").dtypes

[('Date', 'string')]

In [12]:
from pyspark.sql.types import *
from pyspark.sql.functions import col

In [13]:
# df.withColumn("Date",col("Date").cast("DateType"))

In [14]:
df_withnull= df.withColumn("New",col("Open")=="null")

In [15]:
df.show()

+-----------+--------+--------+--------+--------+-------------+-----------------+
|       Date|    Open|    High|     Low|   Close|Shares Traded|Turnover (Rs. Cr)|
+-----------+--------+--------+--------+--------+-------------+-----------------+
|04-Jan-2021|14104.35|14147.95|13953.75| 14132.9| 4.94999295E8|         28705.09|
|05-Jan-2021|14075.15| 14215.6|14048.15| 14199.5| 4.92475349E8|         30872.87|
|06-Jan-2021|14240.95|14244.15| 14039.9|14146.25| 6.32323316E8|         34615.55|
|07-Jan-2021|14253.75|14256.25| 14123.1|14137.35| 5.59173512E8|         33446.47|
|08-Jan-2021| 14258.4| 14367.3|14221.65|14347.25| 6.13472067E8|         37615.19|
|11-Jan-2021|14474.05| 14498.2| 14383.1|14484.75| 6.72878543E8|         40186.21|
|12-Jan-2021| 14473.8|14590.65|14432.85|14563.45| 9.29566952E8|         44976.12|
|13-Jan-2021| 14639.8|14653.35| 14435.7|14564.85| 8.73956688E8|         44682.93|
|14-Jan-2021|14550.05| 14617.8| 14471.5| 14595.6| 6.20194977E8|         37534.37|
|15-Jan-2021|14594.35|14617.45|14357.85| 14433.7| 7.89557216E8|         39912.18|
|18-Jan-2021| 14453.3|14459.15| 14222.8| 14281.3| 7.62043554E8|         41716.22|
|19-Jan-2021|14371.65|14546.05|14350.85|14521.15| 5.46108304E8|         33084.79|
|20-Jan-2021| 14538.3|14666.45|14517.55| 14644.7| 6.23069963E8|         34639.36|
|21-Jan-2021|14730.95|14753.55|14517.25|14590.35| 7.04646957E8|         41939.04|
|22-Jan-2021| 14583.4| 14619.9|14357.75| 14371.9| 7.76750347E8|         45322.54|
|25-Jan-2021| 14477.8| 14491.1| 14218.6| 14238.9| 6.18631493E8|         42278.39|
|27-Jan-2021|14237.95|14237.95| 13929.3| 13967.5| 6.60711117E8|         40579.24|
|28-Jan-2021| 13810.4|13898.25|13713.25|13817.55| 6.37871621E8|         39881.82|
|29-Jan-2021| 13946.6|13966.85|13596.75| 13634.6| 7.53206122E8|         46918.29|
|01-Feb-2021| 13758.6|14336.35|13661.75| 14281.2| 8.70529495E8|         51840.22|
+-----------+--------+--------+--------+--------+-------------+-----------------+
only showing top 20 rows

In [16]:
# df_withnull.dropna(how='any',subset='New').show()

In [17]:
df.select("`Turnover (Rs. Cr)`")

DataFrame[Turnover (Rs. Cr): double]

In [18]:
df_withnull.show()

+-----------+--------+--------+--------+--------+-------------+-----------------+----+
|       Date|    Open|    High|     Low|   Close|Shares Traded|Turnover (Rs. Cr)| New|
+-----------+--------+--------+--------+--------+-------------+-----------------+----+
|04-Jan-2021|14104.35|14147.95|13953.75| 14132.9| 4.94999295E8|         28705.09|null|
|05-Jan-2021|14075.15| 14215.6|14048.15| 14199.5| 4.92475349E8|         30872.87|null|
|06-Jan-2021|14240.95|14244.15| 14039.9|14146.25| 6.32323316E8|         34615.55|null|
|07-Jan-2021|14253.75|14256.25| 14123.1|14137.35| 5.59173512E8|         33446.47|null|
|08-Jan-2021| 14258.4| 14367.3|14221.65|14347.25| 6.13472067E8|         37615.19|null|
|11-Jan-2021|14474.05| 14498.2| 14383.1|14484.75| 6.72878543E8|         40186.21|null|
|12-Jan-2021| 14473.8|14590.65|14432.85|14563.45| 9.29566952E8|         44976.12|null|
|13-Jan-2021| 14639.8|14653.35| 14435.7|14564.85| 8.73956688E8|         44682.93|null|
|14-Jan-2021|14550.05| 14617.8| 14471.5| 14595.6| 6.20194977E8|         37534.37|null|
|15-Jan-2021|14594.35|14617.45|14357.85| 14433.7| 7.89557216E8|         39912.18|null|
|18-Jan-2021| 14453.3|14459.15| 14222.8| 14281.3| 7.62043554E8|         41716.22|null|
|19-Jan-2021|14371.65|14546.05|14350.85|14521.15| 5.46108304E8|         33084.79|null|
|20-Jan-2021| 14538.3|14666.45|14517.55| 14644.7| 6.23069963E8|         34639.36|null|
|21-Jan-2021|14730.95|14753.55|14517.25|14590.35| 7.04646957E8|         41939.04|null|
|22-Jan-2021| 14583.4| 14619.9|14357.75| 14371.9| 7.76750347E8|         45322.54|null|
|25-Jan-2021| 14477.8| 14491.1| 14218.6| 14238.9| 6.18631493E8|         42278.39|null|
|27-Jan-2021|14237.95|14237.95| 13929.3| 13967.5| 6.60711117E8|         40579.24|null|
|28-Jan-2021| 13810.4|13898.25|13713.25|13817.55| 6.37871621E8|         39881.82|null|
|29-Jan-2021| 13946.6|13966.85|13596.75| 13634.6| 7.53206122E8|         46918.29|null|
|01-Feb-2021| 13758.6|14336.35|13661.75| 14281.2| 8.70529495E8|         51840.22|null|
+-----------+--------+--------+--------+--------+-------------+-----------------+----+
only showing top 20 rows

In [19]:
df_withnull= df_withnull.withColumnRenamed("Turnover (Rs. Cr)", "Turnover")

In [20]:
df_withnull.show(10,False)

+-----------+--------+--------+--------+--------+-------------+--------+----+
|Date       |Open    |High    |Low     |Close   |Shares Traded|Turnover|New |
+-----------+--------+--------+--------+--------+-------------+--------+----+
|04-Jan-2021|14104.35|14147.95|13953.75|14132.9 |4.94999295E8 |28705.09|null|
|05-Jan-2021|14075.15|14215.6 |14048.15|14199.5 |4.92475349E8 |30872.87|null|
|06-Jan-2021|14240.95|14244.15|14039.9 |14146.25|6.32323316E8 |34615.55|null|
|07-Jan-2021|14253.75|14256.25|14123.1 |14137.35|5.59173512E8 |33446.47|null|
|08-Jan-2021|14258.4 |14367.3 |14221.65|14347.25|6.13472067E8 |37615.19|null|
|11-Jan-2021|14474.05|14498.2 |14383.1 |14484.75|6.72878543E8 |40186.21|null|
|12-Jan-2021|14473.8 |14590.65|14432.85|14563.45|9.29566952E8 |44976.12|null|
|13-Jan-2021|14639.8 |14653.35|14435.7 |14564.85|8.73956688E8 |44682.93|null|
|14-Jan-2021|14550.05|14617.8 |14471.5 |14595.6 |6.20194977E8 |37534.37|null|
|15-Jan-2021|14594.35|14617.45|14357.85|14433.7 |7.89557216E8 |39912.18|null|
+-----------+--------+--------+--------+--------+-------------+--------+----+
only showing top 10 rows

In [21]:
df_withnull= df_withnull.withColumnRenamed("Turnover", "Turnover(in Cr)")

In [22]:
df_withnull.show()

+-----------+--------+--------+--------+--------+-------------+---------------+----+
|       Date|    Open|    High|     Low|   Close|Shares Traded|Turnover(in Cr)| New|
+-----------+--------+--------+--------+--------+-------------+---------------+----+
|04-Jan-2021|14104.35|14147.95|13953.75| 14132.9| 4.94999295E8|       28705.09|null|
|05-Jan-2021|14075.15| 14215.6|14048.15| 14199.5| 4.92475349E8|       30872.87|null|
|06-Jan-2021|14240.95|14244.15| 14039.9|14146.25| 6.32323316E8|       34615.55|null|
|07-Jan-2021|14253.75|14256.25| 14123.1|14137.35| 5.59173512E8|       33446.47|null|
|08-Jan-2021| 14258.4| 14367.3|14221.65|14347.25| 6.13472067E8|       37615.19|null|
|11-Jan-2021|14474.05| 14498.2| 14383.1|14484.75| 6.72878543E8|       40186.21|null|
|12-Jan-2021| 14473.8|14590.65|14432.85|14563.45| 9.29566952E8|       44976.12|null|
|13-Jan-2021| 14639.8|14653.35| 14435.7|14564.85| 8.73956688E8|       44682.93|null|
|14-Jan-2021|14550.05| 14617.8| 14471.5| 14595.6| 6.20194977E8|       37534.37|null|
|15-Jan-2021|14594.35|14617.45|14357.85| 14433.7| 7.89557216E8|       39912.18|null|
|18-Jan-2021| 14453.3|14459.15| 14222.8| 14281.3| 7.62043554E8|       41716.22|null|
|19-Jan-2021|14371.65|14546.05|14350.85|14521.15| 5.46108304E8|       33084.79|null|
|20-Jan-2021| 14538.3|14666.45|14517.55| 14644.7| 6.23069963E8|       34639.36|null|
|21-Jan-2021|14730.95|14753.55|14517.25|14590.35| 7.04646957E8|       41939.04|null|
|22-Jan-2021| 14583.4| 14619.9|14357.75| 14371.9| 7.76750347E8|       45322.54|null|
|25-Jan-2021| 14477.8| 14491.1| 14218.6| 14238.9| 6.18631493E8|       42278.39|null|
|27-Jan-2021|14237.95|14237.95| 13929.3| 13967.5| 6.60711117E8|       40579.24|null|
|28-Jan-2021| 13810.4|13898.25|13713.25|13817.55| 6.37871621E8|       39881.82|null|
|29-Jan-2021| 13946.6|13966.85|13596.75| 13634.6| 7.53206122E8|       46918.29|null|
|01-Feb-2021| 13758.6|14336.35|13661.75| 14281.2| 8.70529495E8|       51840.22|null|
+-----------+--------+--------+--------+--------+-------------+---------------+----+
only showing top 20 rows

In [23]:
df_withnull.dropna().show()

+----+----+----+---+-----+-------------+---------------+---+
|Date|Open|High|Low|Close|Shares Traded|Turnover(in Cr)|New|
+----+----+----+---+-----+-------------+---------------+---+
+----+----+----+---+-----+-------------+---------------+---+

In [24]:
df_withnull.dropna(how= 'any',subset="Low").show()

+-----------+--------+--------+--------+--------+-------------+---------------+----+
|       Date|    Open|    High|     Low|   Close|Shares Traded|Turnover(in Cr)| New|
+-----------+--------+--------+--------+--------+-------------+---------------+----+
|04-Jan-2021|14104.35|14147.95|13953.75| 14132.9| 4.94999295E8|       28705.09|null|
|05-Jan-2021|14075.15| 14215.6|14048.15| 14199.5| 4.92475349E8|       30872.87|null|
|06-Jan-2021|14240.95|14244.15| 14039.9|14146.25| 6.32323316E8|       34615.55|null|
|07-Jan-2021|14253.75|14256.25| 14123.1|14137.35| 5.59173512E8|       33446.47|null|
|08-Jan-2021| 14258.4| 14367.3|14221.65|14347.25| 6.13472067E8|       37615.19|null|
|11-Jan-2021|14474.05| 14498.2| 14383.1|14484.75| 6.72878543E8|       40186.21|null|
|12-Jan-2021| 14473.8|14590.65|14432.85|14563.45| 9.29566952E8|       44976.12|null|
|13-Jan-2021| 14639.8|14653.35| 14435.7|14564.85| 8.73956688E8|       44682.93|null|
|14-Jan-2021|14550.05| 14617.8| 14471.5| 14595.6| 6.20194977E8|       37534.37|null|
|15-Jan-2021|14594.35|14617.45|14357.85| 14433.7| 7.89557216E8|       39912.18|null|
|18-Jan-2021| 14453.3|14459.15| 14222.8| 14281.3| 7.62043554E8|       41716.22|null|
|19-Jan-2021|14371.65|14546.05|14350.85|14521.15| 5.46108304E8|       33084.79|null|
|20-Jan-2021| 14538.3|14666.45|14517.55| 14644.7| 6.23069963E8|       34639.36|null|
|21-Jan-2021|14730.95|14753.55|14517.25|14590.35| 7.04646957E8|       41939.04|null|
|22-Jan-2021| 14583.4| 14619.9|14357.75| 14371.9| 7.76750347E8|       45322.54|null|
|25-Jan-2021| 14477.8| 14491.1| 14218.6| 14238.9| 6.18631493E8|       42278.39|null|
|27-Jan-2021|14237.95|14237.95| 13929.3| 13967.5| 6.60711117E8|       40579.24|null|
|28-Jan-2021| 13810.4|13898.25|13713.25|13817.55| 6.37871621E8|       39881.82|null|
|29-Jan-2021| 13946.6|13966.85|13596.75| 13634.6| 7.53206122E8|       46918.29|null|
|01-Feb-2021| 13758.6|14336.35|13661.75| 14281.2| 8.70529495E8|       51840.22|null|
+-----------+--------+--------+--------+--------+-------------+---------------+----+
only showing top 20 rows

In [25]:
df_withnull=df_withnull.drop("New")

In [26]:
df_withnull.show()

+-----------+--------+--------+--------+--------+-------------+---------------+
|       Date|    Open|    High|     Low|   Close|Shares Traded|Turnover(in Cr)|
+-----------+--------+--------+--------+--------+-------------+---------------+
|04-Jan-2021|14104.35|14147.95|13953.75| 14132.9| 4.94999295E8|       28705.09|
|05-Jan-2021|14075.15| 14215.6|14048.15| 14199.5| 4.92475349E8|       30872.87|
|06-Jan-2021|14240.95|14244.15| 14039.9|14146.25| 6.32323316E8|       34615.55|
|07-Jan-2021|14253.75|14256.25| 14123.1|14137.35| 5.59173512E8|       33446.47|
|08-Jan-2021| 14258.4| 14367.3|14221.65|14347.25| 6.13472067E8|       37615.19|
|11-Jan-2021|14474.05| 14498.2| 14383.1|14484.75| 6.72878543E8|       40186.21|
|12-Jan-2021| 14473.8|14590.65|14432.85|14563.45| 9.29566952E8|       44976.12|
|13-Jan-2021| 14639.8|14653.35| 14435.7|14564.85| 8.73956688E8|       44682.93|
|14-Jan-2021|14550.05| 14617.8| 14471.5| 14595.6| 6.20194977E8|       37534.37|
|15-Jan-2021|14594.35|14617.45|14357.85| 14433.7| 7.89557216E8|       39912.18|
|18-Jan-2021| 14453.3|14459.15| 14222.8| 14281.3| 7.62043554E8|       41716.22|
|19-Jan-2021|14371.65|14546.05|14350.85|14521.15| 5.46108304E8|       33084.79|
|20-Jan-2021| 14538.3|14666.45|14517.55| 14644.7| 6.23069963E8|       34639.36|
|21-Jan-2021|14730.95|14753.55|14517.25|14590.35| 7.04646957E8|       41939.04|
|22-Jan-2021| 14583.4| 14619.9|14357.75| 14371.9| 7.76750347E8|       45322.54|
|25-Jan-2021| 14477.8| 14491.1| 14218.6| 14238.9| 6.18631493E8|       42278.39|
|27-Jan-2021|14237.95|14237.95| 13929.3| 13967.5| 6.60711117E8|       40579.24|
|28-Jan-2021| 13810.4|13898.25|13713.25|13817.55| 6.37871621E8|       39881.82|
|29-Jan-2021| 13946.6|13966.85|13596.75| 13634.6| 7.53206122E8|       46918.29|
|01-Feb-2021| 13758.6|14336.35|13661.75| 14281.2| 8.70529495E8|       51840.22|
+-----------+--------+--------+--------+--------+-------------+---------------+
only showing top 20 rows

Changing datatype using cast function

In [27]:
df_withnull=df_withnull.withColumn("Date",col("Date").cast(DateType()))

In [28]:
df_withnull.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Shares Traded: double (nullable = true)
 |-- Turnover(in Cr): double (nullable = true)

In [29]:
cols= df.columns

In [30]:
cols

['Date', 'Open', 'High', 'Low', 'Close', 'Shares Traded', 'Turnover (Rs. Cr)']

In [31]:
data_type_list= df_withnull.dtypes

In [32]:
data_type_list[0]

('Date', 'date')

In [33]:
month_rows_list = df.select(col("Date")).collect()
# month_rows_list
month_rows_list_mapped =[]
for i in range(len(month_rows_list)):
    month_rows_list_mapped.append(month_rows_list[i][0])
    
# month_rows_list_mapped   

# 'dd-{}-yyy'.format(1)
# for i,date in enumerate(month_rows_list_mapped): 
#         day = date.split('-')[0]
#         month_abb = date.split('-')[1]
#         year = date.split('-')[2]
#         if(month_abb == 'Jan'):
#             month_rows_list_mapped[i] = f"{day}-01-{year}"
            
month_rows_list_mapped

['04-Jan-2021',
 '05-Jan-2021',
 '06-Jan-2021',
 '07-Jan-2021',
 '08-Jan-2021',
 '11-Jan-2021',
 '12-Jan-2021',
 '13-Jan-2021',
 '14-Jan-2021',
 '15-Jan-2021',
 '18-Jan-2021',
 '19-Jan-2021',
 '20-Jan-2021',
 '21-Jan-2021',
 '22-Jan-2021',
 '25-Jan-2021',
 '27-Jan-2021',
 '28-Jan-2021',
 '29-Jan-2021',
 '01-Feb-2021',
 '02-Feb-2021',
 '03-Feb-2021',
 '04-Feb-2021',
 '05-Feb-2021',
 '08-Feb-2021',
 '09-Feb-2021',
 '10-Feb-2021',
 '11-Feb-2021',
 '12-Feb-2021',
 '15-Feb-2021',
 '16-Feb-2021',
 '17-Feb-2021',
 '18-Feb-2021',
 '19-Feb-2021',
 '22-Feb-2021',
 '23-Feb-2021',
 '24-Feb-2021',
 '25-Feb-2021',
 '26-Feb-2021',
 '01-Mar-2021',
 '02-Mar-2021',
 '03-Mar-2021',
 '04-Mar-2021',
 '05-Mar-2021',
 '08-Mar-2021',
 '09-Mar-2021',
 '10-Mar-2021',
 '12-Mar-2021',
 '15-Mar-2021',
 '16-Mar-2021',
 '17-Mar-2021',
 '18-Mar-2021',
 '19-Mar-2021',
 '22-Mar-2021',
 '23-Mar-2021',
 '24-Mar-2021',
 '25-Mar-2021',
 '26-Mar-2021',
 '30-Mar-2021',
 '31-Mar-2021',
 '01-Apr-2021',
 '05-Apr-2021',
 '06-Apr-2021',
 '07-Apr-2021',
 '08-Apr-2021',
 '09-Apr-2021',
 '12-Apr-2021',
 '13-Apr-2021',
 '15-Apr-2021',
 '16-Apr-2021',
 '19-Apr-2021',
 '20-Apr-2021',
 '22-Apr-2021',
 '23-Apr-2021',
 '26-Apr-2021',
 '27-Apr-2021',
 '28-Apr-2021',
 '29-Apr-2021',
 '30-Apr-2021',
 '03-May-2021',
 '04-May-2021',
 '05-May-2021',
 '06-May-2021',
 '07-May-2021',
 '10-May-2021',
 '11-May-2021',
 '12-May-2021',
 '14-May-2021',
 '17-May-2021',
 '18-May-2021',
 '19-May-2021',
 '20-May-2021',
 '21-May-2021',
 '24-May-2021',
 '25-May-2021',
 '26-May-2021',
 '27-May-2021',
 '28-May-2021',
 '31-May-2021',
 '01-Jun-2021',
 '02-Jun-2021',
 '03-Jun-2021',
 '04-Jun-2021',
 '07-Jun-2021',
 '08-Jun-2021',
 '09-Jun-2021',
 '10-Jun-2021',
 '11-Jun-2021',
 '14-Jun-2021',
 '15-Jun-2021',
 '16-Jun-2021',
 '17-Jun-2021',
 '18-Jun-2021',
 '21-Jun-2021',
 '22-Jun-2021',
 '23-Jun-2021',
 '24-Jun-2021',
 '25-Jun-2021',
 '28-Jun-2021',
 '29-Jun-2021',
 '30-Jun-2021',
 '01-Jul-2021',
 '02-Jul-2021',
 '05-Jul-2021',
 '06-Jul-2021',
 '07-Jul-2021',
 '08-Jul-2021',
 '09-Jul-2021',
 '12-Jul-2021',
 '13-Jul-2021',
 '14-Jul-2021',
 '15-Jul-2021',
 '16-Jul-2021',
 '19-Jul-2021',
 '20-Jul-2021',
 '22-Jul-2021',
 '23-Jul-2021',
 '26-Jul-2021',
 '27-Jul-2021',
 '28-Jul-2021',
 '29-Jul-2021',
 '30-Jul-2021',
 '02-Aug-2021',
 '03-Aug-2021',
 '04-Aug-2021',
 '05-Aug-2021',
 '06-Aug-2021',
 '09-Aug-2021',
 '10-Aug-2021',
 '11-Aug-2021',
 '12-Aug-2021',
 '13-Aug-2021',
 '16-Aug-2021',
 '17-Aug-2021',
 '18-Aug-2021',
 '20-Aug-2021',
 '23-Aug-2021',
 '24-Aug-2021',
 '25-Aug-2021',
 '26-Aug-2021',
 '27-Aug-2021',
 '30-Aug-2021',
 '31-Aug-2021',
 '01-Sep-2021',
 '02-Sep-2021',
 '03-Sep-2021',
 '06-Sep-2021',
 '07-Sep-2021',
 '08-Sep-2021',
 '09-Sep-2021',
 '13-Sep-2021',
 '14-Sep-2021',
 '15-Sep-2021',
 '16-Sep-2021',
 '17-Sep-2021',
 '20-Sep-2021',
 '21-Sep-2021',
 '22-Sep-2021',
 '23-Sep-2021',
 '24-Sep-2021',
 '27-Sep-2021',
 '28-Sep-2021',
 '29-Sep-2021',
 '30-Sep-2021',
 '01-Oct-2021',
 '04-Oct-2021',
 '05-Oct-2021',
 '06-Oct-2021',
 '07-Oct-2021',
 '08-Oct-2021',
 '11-Oct-2021',
 '12-Oct-2021',
 '13-Oct-2021',
 '14-Oct-2021',
 '18-Oct-2021',
 '19-Oct-2021',
 '20-Oct-2021',
 '21-Oct-2021',
 '22-Oct-2021',
 '25-Oct-2021',
 '26-Oct-2021',
 '27-Oct-2021',
 '28-Oct-2021',
 '29-Oct-2021',
 '01-Nov-2021',
 '02-Nov-2021',
 '03-Nov-2021',
 '04-Nov-2021',
 '08-Nov-2021',
 '09-Nov-2021',
 '10-Nov-2021',
 '11-Nov-2021',
 '12-Nov-2021',
 '15-Nov-2021',
 '16-Nov-2021',
 '17-Nov-2021',
 '18-Nov-2021',
 '22-Nov-2021',
 '23-Nov-2021',
 '24-Nov-2021',
 '25-Nov-2021',
 '26-Nov-2021',
 '29-Nov-2021',
 '30-Nov-2021',
 '01-Dec-2021',
 '02-Dec-2021',
 '03-Dec-2021',
 '06-Dec-2021',
 '07-Dec-2021',
 '08-Dec-2021',
 '09-Dec-2021',
 '10-Dec-2021',
 '13-Dec-2021',
 '14-Dec-2021',
 '15-Dec-2021',
 '16-Dec-2021',
 '17-Dec-2021',
 '20-Dec-2021',
 '21-Dec-2021',
 '22-Dec-2021',
 '23-Dec-2021',
 '24-Dec-2021',
 '27-Dec-2021',
 '28-Dec-2021',
 '29-Dec-2021',
 '30-Dec-2021',
 '31-Dec-2021']

Function for changing date format
Eg: 28-Dec-2021  --> 28-12-2021

In [34]:
def date_formatter(month_rows_list_mapped):
    for i,date in enumerate(month_rows_list_mapped): 
        day = date.split('-')[0]
        month_abb = date.split('-')[1]
        year = date.split('-')[2]
        if(month_abb == 'Jan'):
            month_rows_list_mapped[i] = f"{day}-01-{year}"
        elif(month_abb == 'Feb'):
            month_rows_list_mapped[i] = f"{day}-02-{year}"    
        elif(month_abb == 'Mar'):
            month_rows_list_mapped[i] = f"{day}-03-{year}"  
        elif(month_abb == 'Apr'):
            month_rows_list_mapped[i] = f"{day}-04-{year}"  
        elif(month_abb == 'May'):
            month_rows_list_mapped[i] = f"{day}-05-{year}"  
        elif(month_abb == 'Jun'):
            month_rows_list_mapped[i] = f"{day}-06-{year}"  
        elif(month_abb == 'Jul'):
            month_rows_list_mapped[i] = f"{day}-07-{year}"  
        elif(month_abb == 'Aug'):
            month_rows_list_mapped[i] = f"{day}-08-{year}"  
        elif(month_abb == 'Sep'):
            month_rows_list_mapped[i] = f"{day}-09-{year}"  
        elif(month_abb == 'Oct'):
            month_rows_list_mapped[i] = f"{day}-10-{year}"  
        elif(month_abb == 'Nov'):
            month_rows_list_mapped[i] = f"{day}-11-{year}"
        elif(month_abb == 'Dec'):
            month_rows_list_mapped[i] = f"{day}-12-{year}"

In [35]:
date_formatter(month_rows_list_mapped)
month_rows_list_mapped

['04-01-2021',
 '05-01-2021',
 '06-01-2021',
 '07-01-2021',
 '08-01-2021',
 '11-01-2021',
 '12-01-2021',
 '13-01-2021',
 '14-01-2021',
 '15-01-2021',
 '18-01-2021',
 '19-01-2021',
 '20-01-2021',
 '21-01-2021',
 '22-01-2021',
 '25-01-2021',
 '27-01-2021',
 '28-01-2021',
 '29-01-2021',
 '01-02-2021',
 '02-02-2021',
 '03-02-2021',
 '04-02-2021',
 '05-02-2021',
 '08-02-2021',
 '09-02-2021',
 '10-02-2021',
 '11-02-2021',
 '12-02-2021',
 '15-02-2021',
 '16-02-2021',
 '17-02-2021',
 '18-02-2021',
 '19-02-2021',
 '22-02-2021',
 '23-02-2021',
 '24-02-2021',
 '25-02-2021',
 '26-02-2021',
 '01-03-2021',
 '02-03-2021',
 '03-03-2021',
 '04-03-2021',
 '05-03-2021',
 '08-03-2021',
 '09-03-2021',
 '10-03-2021',
 '12-03-2021',
 '15-03-2021',
 '16-03-2021',
 '17-03-2021',
 '18-03-2021',
 '19-03-2021',
 '22-03-2021',
 '23-03-2021',
 '24-03-2021',
 '25-03-2021',
 '26-03-2021',
 '30-03-2021',
 '31-03-2021',
 '01-04-2021',
 '05-04-2021',
 '06-04-2021',
 '07-04-2021',
 '08-04-2021',
 '09-04-2021',
 '12-04-2021',
 '13-04-2021',
 '15-04-2021',
 '16-04-2021',
 '19-04-2021',
 '20-04-2021',
 '22-04-2021',
 '23-04-2021',
 '26-04-2021',
 '27-04-2021',
 '28-04-2021',
 '29-04-2021',
 '30-04-2021',
 '03-05-2021',
 '04-05-2021',
 '05-05-2021',
 '06-05-2021',
 '07-05-2021',
 '10-05-2021',
 '11-05-2021',
 '12-05-2021',
 '14-05-2021',
 '17-05-2021',
 '18-05-2021',
 '19-05-2021',
 '20-05-2021',
 '21-05-2021',
 '24-05-2021',
 '25-05-2021',
 '26-05-2021',
 '27-05-2021',
 '28-05-2021',
 '31-05-2021',
 '01-06-2021',
 '02-06-2021',
 '03-06-2021',
 '04-06-2021',
 '07-06-2021',
 '08-06-2021',
 '09-06-2021',
 '10-06-2021',
 '11-06-2021',
 '14-06-2021',
 '15-06-2021',
 '16-06-2021',
 '17-06-2021',
 '18-06-2021',
 '21-06-2021',
 '22-06-2021',
 '23-06-2021',
 '24-06-2021',
 '25-06-2021',
 '28-06-2021',
 '29-06-2021',
 '30-06-2021',
 '01-07-2021',
 '02-07-2021',
 '05-07-2021',
 '06-07-2021',
 '07-07-2021',
 '08-07-2021',
 '09-07-2021',
 '12-07-2021',
 '13-07-2021',
 '14-07-2021',
 '15-07-2021',
 '16-07-2021',
 '19-07-2021',
 '20-07-2021',
 '22-07-2021',
 '23-07-2021',
 '26-07-2021',
 '27-07-2021',
 '28-07-2021',
 '29-07-2021',
 '30-07-2021',
 '02-08-2021',
 '03-08-2021',
 '04-08-2021',
 '05-08-2021',
 '06-08-2021',
 '09-08-2021',
 '10-08-2021',
 '11-08-2021',
 '12-08-2021',
 '13-08-2021',
 '16-08-2021',
 '17-08-2021',
 '18-08-2021',
 '20-08-2021',
 '23-08-2021',
 '24-08-2021',
 '25-08-2021',
 '26-08-2021',
 '27-08-2021',
 '30-08-2021',
 '31-08-2021',
 '01-09-2021',
 '02-09-2021',
 '03-09-2021',
 '06-09-2021',
 '07-09-2021',
 '08-09-2021',
 '09-09-2021',
 '13-09-2021',
 '14-09-2021',
 '15-09-2021',
 '16-09-2021',
 '17-09-2021',
 '20-09-2021',
 '21-09-2021',
 '22-09-2021',
 '23-09-2021',
 '24-09-2021',
 '27-09-2021',
 '28-09-2021',
 '29-09-2021',
 '30-09-2021',
 '01-10-2021',
 '04-10-2021',
 '05-10-2021',
 '06-10-2021',
 '07-10-2021',
 '08-10-2021',
 '11-10-2021',
 '12-10-2021',
 '13-10-2021',
 '14-10-2021',
 '18-10-2021',
 '19-10-2021',
 '20-10-2021',
 '21-10-2021',
 '22-10-2021',
 '25-10-2021',
 '26-10-2021',
 '27-10-2021',
 '28-10-2021',
 '29-10-2021',
 '01-11-2021',
 '02-11-2021',
 '03-11-2021',
 '04-11-2021',
 '08-11-2021',
 '09-11-2021',
 '10-11-2021',
 '11-11-2021',
 '12-11-2021',
 '15-11-2021',
 '16-11-2021',
 '17-11-2021',
 '18-11-2021',
 '22-11-2021',
 '23-11-2021',
 '24-11-2021',
 '25-11-2021',
 '26-11-2021',
 '29-11-2021',
 '30-11-2021',
 '01-12-2021',
 '02-12-2021',
 '03-12-2021',
 '06-12-2021',
 '07-12-2021',
 '08-12-2021',
 '09-12-2021',
 '10-12-2021',
 '13-12-2021',
 '14-12-2021',
 '15-12-2021',
 '16-12-2021',
 '17-12-2021',
 '20-12-2021',
 '21-12-2021',
 '22-12-2021',
 '23-12-2021',
 '24-12-2021',
 '27-12-2021',
 '28-12-2021',
 '29-12-2021',
 '30-12-2021',
 '31-12-2021']

In [36]:
final_df= pd.DataFrame(month_rows_list_mapped,columns= ["Date_Formatted"])
final_df

    Date_Formatted
0       04-01-2021
1       05-01-2021
2       06-01-2021
3       07-01-2021
4       08-01-2021
..             ...
242     27-12-2021
243     28-12-2021
244     29-12-2021
245     30-12-2021
246     31-12-2021

[247 rows x 1 columns]

In [37]:
final_spark_df = spark.createDataFrame(final_df)

In [38]:
final_spark_df.show()
print(final_spark_df.count())

+--------------+
|Date_Formatted|
+--------------+
|    04-01-2021|
|    05-01-2021|
|    06-01-2021|
|    07-01-2021|
|    08-01-2021|
|    11-01-2021|
|    12-01-2021|
|    13-01-2021|
|    14-01-2021|
|    15-01-2021|
|    18-01-2021|
|    19-01-2021|
|    20-01-2021|
|    21-01-2021|
|    22-01-2021|
|    25-01-2021|
|    27-01-2021|
|    28-01-2021|
|    29-01-2021|
|    01-02-2021|
+--------------+
only showing top 20 rows

247

Joining the new date column to the original dataframe

In [39]:
final_df_joined = df.join(final_spark_df)
final_df_joined.show()

+-----------+--------+--------+--------+--------+-------------+-----------------+--------------+
|       Date|    Open|    High|     Low|   Close|Shares Traded|Turnover (Rs. Cr)|Date_Formatted|
+-----------+--------+--------+--------+--------+-------------+-----------------+--------------+
|04-Jan-2021|14104.35|14147.95|13953.75| 14132.9| 4.94999295E8|         28705.09|    04-01-2021|
|05-Jan-2021|14075.15| 14215.6|14048.15| 14199.5| 4.92475349E8|         30872.87|    04-01-2021|
|06-Jan-2021|14240.95|14244.15| 14039.9|14146.25| 6.32323316E8|         34615.55|    04-01-2021|
|07-Jan-2021|14253.75|14256.25| 14123.1|14137.35| 5.59173512E8|         33446.47|    04-01-2021|
|08-Jan-2021| 14258.4| 14367.3|14221.65|14347.25| 6.13472067E8|         37615.19|    04-01-2021|
|11-Jan-2021|14474.05| 14498.2| 14383.1|14484.75| 6.72878543E8|         40186.21|    04-01-2021|
|12-Jan-2021| 14473.8|14590.65|14432.85|14563.45| 9.29566952E8|         44976.12|    04-01-2021|
|13-Jan-2021| 14639.8|14653.35| 14435.7|14564.85| 8.73956688E8|         44682.93|    04-01-2021|
|14-Jan-2021|14550.05| 14617.8| 14471.5| 14595.6| 6.20194977E8|         37534.37|    04-01-2021|
|15-Jan-2021|14594.35|14617.45|14357.85| 14433.7| 7.89557216E8|         39912.18|    04-01-2021|
|18-Jan-2021| 14453.3|14459.15| 14222.8| 14281.3| 7.62043554E8|         41716.22|    04-01-2021|
|19-Jan-2021|14371.65|14546.05|14350.85|14521.15| 5.46108304E8|         33084.79|    04-01-2021|
|20-Jan-2021| 14538.3|14666.45|14517.55| 14644.7| 6.23069963E8|         34639.36|    04-01-2021|
|21-Jan-2021|14730.95|14753.55|14517.25|14590.35| 7.04646957E8|         41939.04|    04-01-2021|
|22-Jan-2021| 14583.4| 14619.9|14357.75| 14371.9| 7.76750347E8|         45322.54|    04-01-2021|
|25-Jan-2021| 14477.8| 14491.1| 14218.6| 14238.9| 6.18631493E8|         42278.39|    04-01-2021|
|27-Jan-2021|14237.95|14237.95| 13929.3| 13967.5| 6.60711117E8|         40579.24|    04-01-2021|
|28-Jan-2021| 13810.4|13898.25|13713.25|13817.55| 6.37871621E8|         39881.82|    04-01-2021|
|29-Jan-2021| 13946.6|13966.85|13596.75| 13634.6| 7.53206122E8|         46918.29|    04-01-2021|
|01-Feb-2021| 13758.6|14336.35|13661.75| 14281.2| 8.70529495E8|         51840.22|    04-01-2021|
+-----------+--------+--------+--------+--------+-------------+-----------------+--------------+
only showing top 20 rows

In [41]:
final_df_joined= final_df_joined.drop("Date")
final_df_joined.show()

+--------+--------+--------+--------+-------------+-----------------+--------------+
|    Open|    High|     Low|   Close|Shares Traded|Turnover (Rs. Cr)|Date_Formatted|
+--------+--------+--------+--------+-------------+-----------------+--------------+
|14104.35|14147.95|13953.75| 14132.9| 4.94999295E8|         28705.09|    04-01-2021|
|14075.15| 14215.6|14048.15| 14199.5| 4.92475349E8|         30872.87|    04-01-2021|
|14240.95|14244.15| 14039.9|14146.25| 6.32323316E8|         34615.55|    04-01-2021|
|14253.75|14256.25| 14123.1|14137.35| 5.59173512E8|         33446.47|    04-01-2021|
| 14258.4| 14367.3|14221.65|14347.25| 6.13472067E8|         37615.19|    04-01-2021|
|14474.05| 14498.2| 14383.1|14484.75| 6.72878543E8|         40186.21|    04-01-2021|
| 14473.8|14590.65|14432.85|14563.45| 9.29566952E8|         44976.12|    04-01-2021|
| 14639.8|14653.35| 14435.7|14564.85| 8.73956688E8|         44682.93|    04-01-2021|
|14550.05| 14617.8| 14471.5| 14595.6| 6.20194977E8|         37534.37|    04-01-2021|
|14594.35|14617.45|14357.85| 14433.7| 7.89557216E8|         39912.18|    04-01-2021|
| 14453.3|14459.15| 14222.8| 14281.3| 7.62043554E8|         41716.22|    04-01-2021|
|14371.65|14546.05|14350.85|14521.15| 5.46108304E8|         33084.79|    04-01-2021|
| 14538.3|14666.45|14517.55| 14644.7| 6.23069963E8|         34639.36|    04-01-2021|
|14730.95|14753.55|14517.25|14590.35| 7.04646957E8|         41939.04|    04-01-2021|
| 14583.4| 14619.9|14357.75| 14371.9| 7.76750347E8|         45322.54|    04-01-2021|
| 14477.8| 14491.1| 14218.6| 14238.9| 6.18631493E8|         42278.39|    04-01-2021|
|14237.95|14237.95| 13929.3| 13967.5| 6.60711117E8|         40579.24|    04-01-2021|
| 13810.4|13898.25|13713.25|13817.55| 6.37871621E8|         39881.82|    04-01-2021|
| 13946.6|13966.85|13596.75| 13634.6| 7.53206122E8|         46918.29|    04-01-2021|
| 13758.6|14336.35|13661.75| 14281.2| 8.70529495E8|         51840.22|    04-01-2021|
+--------+--------+--------+--------+-------------+-----------------+--------------+
only showing top 20 rows

In [42]:
final_df_joined.columns

['Open',
 'High',
 'Low',
 'Close',
 'Shares Traded',
 'Turnover (Rs. Cr)',
 'Date_Formatted']

In [43]:
final_df_joined= final_df_joined.drop("Date")
final_df_joined= final_df_joined.withColumnRenamed("Turnover (Rs. Cr)", "Turnover_in_Cr").withColumnRenamed("Shares Traded","Shares_Traded")
final_df_joined.show()

+--------+--------+--------+--------+-------------+--------------+--------------+
|    Open|    High|     Low|   Close|Shares_Traded|Turnover_in_Cr|Date_Formatted|
+--------+--------+--------+--------+-------------+--------------+--------------+
|14104.35|14147.95|13953.75| 14132.9| 4.94999295E8|      28705.09|    04-01-2021|
|14075.15| 14215.6|14048.15| 14199.5| 4.92475349E8|      30872.87|    04-01-2021|
|14240.95|14244.15| 14039.9|14146.25| 6.32323316E8|      34615.55|    04-01-2021|
|14253.75|14256.25| 14123.1|14137.35| 5.59173512E8|      33446.47|    04-01-2021|
| 14258.4| 14367.3|14221.65|14347.25| 6.13472067E8|      37615.19|    04-01-2021|
|14474.05| 14498.2| 14383.1|14484.75| 6.72878543E8|      40186.21|    04-01-2021|
| 14473.8|14590.65|14432.85|14563.45| 9.29566952E8|      44976.12|    04-01-2021|
| 14639.8|14653.35| 14435.7|14564.85| 8.73956688E8|      44682.93|    04-01-2021|
|14550.05| 14617.8| 14471.5| 14595.6| 6.20194977E8|      37534.37|    04-01-2021|
|14594.35|14617.45|14357.85| 14433.7| 7.89557216E8|      39912.18|    04-01-2021|
| 14453.3|14459.15| 14222.8| 14281.3| 7.62043554E8|      41716.22|    04-01-2021|
|14371.65|14546.05|14350.85|14521.15| 5.46108304E8|      33084.79|    04-01-2021|
| 14538.3|14666.45|14517.55| 14644.7| 6.23069963E8|      34639.36|    04-01-2021|
|14730.95|14753.55|14517.25|14590.35| 7.04646957E8|      41939.04|    04-01-2021|
| 14583.4| 14619.9|14357.75| 14371.9| 7.76750347E8|      45322.54|    04-01-2021|
| 14477.8| 14491.1| 14218.6| 14238.9| 6.18631493E8|      42278.39|    04-01-2021|
|14237.95|14237.95| 13929.3| 13967.5| 6.60711117E8|      40579.24|    04-01-2021|
| 13810.4|13898.25|13713.25|13817.55| 6.37871621E8|      39881.82|    04-01-2021|
| 13946.6|13966.85|13596.75| 13634.6| 7.53206122E8|      46918.29|    04-01-2021|
| 13758.6|14336.35|13661.75| 14281.2| 8.70529495E8|      51840.22|    04-01-2021|
+--------+--------+--------+--------+-------------+--------------+--------------+
only showing top 20 rows

Final Output

In [44]:
final_df_joined.select(col('Date_Formatted'),col('Open'),col('High'),col('Low'),col('Close'),col('Shares_Traded'),col('Turnover_in_Cr')).show()

+--------------+--------+--------+--------+--------+-------------+--------------+
|Date_Formatted|    Open|    High|     Low|   Close|Shares_Traded|Turnover_in_Cr|
+--------------+--------+--------+--------+--------+-------------+--------------+
|    04-01-2021|14104.35|14147.95|13953.75| 14132.9| 4.94999295E8|      28705.09|
|    04-01-2021|14075.15| 14215.6|14048.15| 14199.5| 4.92475349E8|      30872.87|
|    04-01-2021|14240.95|14244.15| 14039.9|14146.25| 6.32323316E8|      34615.55|
|    04-01-2021|14253.75|14256.25| 14123.1|14137.35| 5.59173512E8|      33446.47|
|    04-01-2021| 14258.4| 14367.3|14221.65|14347.25| 6.13472067E8|      37615.19|
|    04-01-2021|14474.05| 14498.2| 14383.1|14484.75| 6.72878543E8|      40186.21|
|    04-01-2021| 14473.8|14590.65|14432.85|14563.45| 9.29566952E8|      44976.12|
|    04-01-2021| 14639.8|14653.35| 14435.7|14564.85| 8.73956688E8|      44682.93|
|    04-01-2021|14550.05| 14617.8| 14471.5| 14595.6| 6.20194977E8|      37534.37|
|    04-01-2021|14594.35|14617.45|14357.85| 14433.7| 7.89557216E8|      39912.18|
|    04-01-2021| 14453.3|14459.15| 14222.8| 14281.3| 7.62043554E8|      41716.22|
|    04-01-2021|14371.65|14546.05|14350.85|14521.15| 5.46108304E8|      33084.79|
|    04-01-2021| 14538.3|14666.45|14517.55| 14644.7| 6.23069963E8|      34639.36|
|    04-01-2021|14730.95|14753.55|14517.25|14590.35| 7.04646957E8|      41939.04|
|    04-01-2021| 14583.4| 14619.9|14357.75| 14371.9| 7.76750347E8|      45322.54|
|    04-01-2021| 14477.8| 14491.1| 14218.6| 14238.9| 6.18631493E8|      42278.39|
|    04-01-2021|14237.95|14237.95| 13929.3| 13967.5| 6.60711117E8|      40579.24|
|    04-01-2021| 13810.4|13898.25|13713.25|13817.55| 6.37871621E8|      39881.82|
|    04-01-2021| 13946.6|13966.85|13596.75| 13634.6| 7.53206122E8|      46918.29|
|    04-01-2021| 13758.6|14336.35|13661.75| 14281.2| 8.70529495E8|      51840.22|
+--------------+--------+--------+--------+--------+-------------+--------------+
only showing top 20 rows

In [50]:
# df_withnull.select(col("Date"),
#                   to_date(col("Date"), "yyy-MM-dd").alias("to_date")
#                   ).show()

In [51]:
# df_withnull.createOrReplaceTempView("REFERENCE_TABLE")

In [52]:
# sql1 = """
# SELECT * FROM REFERENCE_TABLE WHERE Open > 14550.05
# """

In [53]:
# df1 = spark.sql(sql1)

In [54]:
# df1.show()

In [55]:
# sql2 = '''
# SELECT * FROM REFERENCE_TABLE WHERE Open <= 14550.05
# '''
# df2 = spark.sql(sql2)
# df2.show()

In [56]:
# df2.printSchema()